extends layout

block content

  script(src='/javascripts/controller.js')

  .container-fluid
    .row-fluid
      .span6
        .row-fluid
          table(id='user_waiting', class='table')
            caption
              strong Users in Waiting Room
            thead
              tr
                th Username
                th Phone
                th Email
                th Date
            tbody
      .span6
        .row-fluid
          table(id='user_game', class='table')
            caption
              strong Users in Game
            thead
              tr
                th Username
                th Number of Swipes
                th Time Joined
            tbody
