extends layout

block content

  .container-fluid
    .row-fluid
      .span9
        .row-fluid
          form.form-horizontal
            legend Register Here
            div(id='control_group_username', class='control-group')
              label(class='control-label', for='register_username') Username
              .controls
                input(id='register_username', type='text', placeholder='username')
            div(id='control_group_phone', class='control-group')
              label(class='control-label', for='register_phone') Phone
              .controls
                input(id='register_phone', type='number', placeholder='Phone')
            div(id='control_group_email', class='control-group')
              label(class='control-label', for='register_email') Email
              .controls
                input(id='register_email', type='text', placeholder='Email')
            .control-group
              .controls
                button(id='btn_register', class='btn btn-primary') Register
      
