extends layout

block content

  .container-fluid
    .row-fluid
      .span3
        .well.sidebar-nav
          ul.nav.nav-list
            li.nav-header USERS
            #users
      .span9
        .row-fluid
          #conversation
          #typers
          .well.form-inline
            .input-prepend
              span.add-on
                i.icon-user
                &nbsp;#{username}
              input(id='data', type='text', placeholder='Type something here...')
            input(type='hidden', id='myUsername', value='#{username}')
            button(id='datasend', class='btn', style='margin-left: 5px;') Send
      
